// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
    font-family: Cookie , sans-serif;
    color: #0d0f3b;
    text-align: center;
    padding: 40px 0  20px;
}

.header h1 {
	font-size: 3.86em;
}

img-responsive {
	display: block;
	max-width: 100%;
	height: auto
}

.article-title {
	text-align: center;
	text-transform: capitalize;
	color: #0d0f3b;
	font-family:  Itim , sans-serif;
}

.article-body {
	text-align: justify;
	text-align-last: center;
	font-family: "TradeGothicNextW01-Ligh 693250";
    font-size: 14px;
    font-weight: 300;
    line-height: 1.25;
    color: #4a4a4a;
    font-style: normal;
    font-stretch: normal;
}

.article-box a img {
	-webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.article-box a:hover img {
	-webkit-transform: scale(.95);
  transform: scale(.95);
}

.personalize {
	width: 100%;
	font-family:  Itim , sans-serif;
	color: #0d0f3b;
	margin-bottom: 40px;
	border-bottom: 1px solid #000;
	padding-bottom: 40px;
	padding-top: 20px;
}

.contact-touch {
	font-family:  Itim , sans-serif;
	color: #0d0f3b;
}

.contact-touch h2 {
	color: #286090;
}

.social-media a{
	font-size: 2.1em;
}

.jumbotron {
background-color: transparent;
}

.carousel {
    margin-left: -15px;
    margin-right: -15px;
}

.carousel-caption {
    bottom: 42%;
    background-color: rgba(155, 159, 168, 0.41);
    width: 41%;
    margin: 0 auto;
}


.carousel-caption h3 {
    font-family: 'Itim', serif;
    font-size: 3.5em;
    color: #fff;
    letter-spacing: 3px;
    font-weight: bold;
}

.carousel-indicators .active {
    background-color: #286090;
    border-color : #286090;
}

.carousel-indicators li {
    border-color: #0d0f3b;
    border-radius: 0;
    background-color: #0d0f3b;
}

.carousel-inner > .item > a > img{
    width: 100%;
    height: 655px;
}

.form-label {
	font-size: 14px;
	color: #286090;
}


.centered {
	text-align: center;
}

/*@media*/
@media (min-width: 768px) {

    .show-article-title {
		text-align: left;
		font-size: 20px;
	}

	.article-body {
		font-size: 12px;
		text-align-last: auto;
	}

	.article {
	padding-top: 60px;
	}
}

@media (max-width: 480px) {

    .carousel-caption h3 {
        font-size: 2em;
    }

    .carousel-caption {
        width: 50%;
        padding-bottom: 0;
        padding-top: 0;
        bottom: 35%;
    }

  .carousel-inner > .item > a > img {
      height: 300px;
  }

}  
    

